<div class="hero">
  {%- assign img_mobile = section.settings.mobile_image | image_url: width: 500 -%}
  {%- assign img_desktop = section.settings.image | image_url: width: 1920 -%}

  {% if section.settings.image %}
    {% include 'bg-picture', image: img_desktop, mobile_img: img_mobile %}
  {% endif %}
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  <div class="hero__container">
    <div class="hero__inner">
      {% if section.settings.title != blank %}
        <h2 class="h1 hero-title">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="hero-text">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn hero__btn">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Lookpage Hero",
    "class": "lookpage-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Lookpage Hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}